.ng-scope .centerform{

	margin: 0 auto;
	background-color: white;

}
.auth{
	color: white;
		text-align: center;
}


.centerform .form-control{
		width: 20%;
}

.login-page{
	margin: 0 auto;
			text-align: center;
}