<div>

<div class="dashboard">
	<button type="button" ui-sref="adminadd">Add New Listing</button>
</div>

  <form class="form-inline">
    <div class="form-group">
      <label for="search">Search</label>
      <input ng-model="search.name" type="text" class="form-control" id="search">
    </div>
<!--     <div class="form-group">
      <label for="search">Sort</label>
            <select class="form-control" ng-options="option as option.label for option in ctrl.sortOptions" ng-model="ctrl.sortOption">
      </select>
    </div> -->
  </form>

<h1>Walking Tour Directory</h1>

<div ng-repeat="listing in ctrl.listings | filter: search" >
	<div class="items">
		<p>Name: {{listing.name}}</p>
		<p>Address: {{listing.address}}</p>
		<!-- <p>Category: {{listing.category}}</p> -->
		<button type="button" ng-click="ctrl.goToEdit(listing.id)">Edit Listing</button>
<!-- 		<button type="submit" ng-click="ctrl.deleteShop(shop.id)">{{ctrl.shop_delete_btn}}</button> -->
	</div>
</div>

</div>