<div ui-view="nav3"></div>


<div class="content">
<h1 class="auth">Sign In</h1>
<div></div>

<div class="centerform">




<form class="form-horizontal" method="post" ng-submit="ctrl.authenticate()">
  <div class="form-group">
    <div>
      <input type="email" class="form-control" placeholder="Email" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.email">
    </div>
  </div>
  <div class="form-group">
    <div>
      <input type="password" class="form-control" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.password">
    </div>
  </div>
  <input type="submit" value="{{ctrl.auth_btn}}" class="btn btn-primary"/>
  <button type="button" ui-sref="home" class="btn btn-primary">Cancel</button>
 </form>

 </div>
 </div>