

<h2>Welcome</h2>

<p><em>“Not all those who wander are lost.”</em>
JRR Tolkien</p>

<p>WALKING.  LEARNING.  EXPLORING.  Walking tours offer all this and more!</p>

<p>Do you find when travelling that if you don’t get time to do a walking tour, you never really feel that you have connected with a place?</p>

<p><em>“We must take adventures in order to know where we truly belong.”</em></p>

<p>Whether you are actively planning a trip, or working on your travel wish-list, this site will help you find the perfect adventure.  You may even discover a new tour in your own backyard!</p>

<p>So have a look around! Search the Directory, rate the tours you’ve taken, and see what’s new on the Blog.  Make this site a regular stop on your journey!</p>

<p><em>“We  shall not cease from exploration, and the end of all our exploring will be to arrive where we started and know the place for the first time.”</em>
T.  S. Eliot</p>

<h3>Walk. Learn. Explore.</h3>