<div ui-view="nav"></div>

<div class="content">
	<h1>Why List on Walking Tour Directory?</h1>

	<div class="items">
		<div class="front_text">

			<p>Introducing Walking Tour Directory, the brand-new online community, focussed exclusively on walking tours!</p>

			<p>List your walks on Walking Tour Directory and reach walking tour fans worldwide, all day every day.</p>

			<p>All you need is:  A description of your walks, your website address (or Facebook page, or whatever you’ve got), contact details, and your logo or photo.</p>

			<p>*** Grab your listing now!  Each new listing will also be mentioned in both Facebook and Twitter posts. ***</p>

			<p>Create your listing now.</p>
		
		</div>
	</div>
</div>