
<h2>Why List on Walking Tour Directory?</h2>

<p>Introducing Walking Tour Directory, the brand-new online community, focussed exclusively on walking tours!</p>

<p>List your walks on Walking Tour Directory and reach walking tour fans worldwide, all day every day.</p>

<p>All you need is:  A description of your walks, your website address (or Facebook page, or whatever you’ve got), contact details, and your logo or photo.</p>

<p>*** Grab your listing now!  Each new listing will also be mentioned in both Facebook and Twitter posts. ***</p>

Create your listing now.











<!-- Introducing Walking Tour Directory, the brand-new online community, focussed exclusively on walking tours!

 

 List your walks on Walking Tour Directory and reach walking tour fans worldwide, all day every day.
This directory contains only quality information. Only paying users can add or edit the listings, ensuring that the directory remains SPAM-free.  Site visitors will appreciate that each listing is being kept up-to-date by the tour leaders themselves, guaranteeing accuracy.
Increase your internet presence, and elevate your SEO value by creating a new external backlink to your website.
Get feedback from the community via comments and ratings on your listings (and you know how valuable ratings can be).
All you need is:  A description of your walks, your website address (or Facebook page, or whatever you’ve got), contact details, your logo, and a couple photos (optional).
Get your regular listing for only $12/mo CAD, or spring for a featured listing which will appear at the top of the search results for only $16/mo CAD. Listings are payable annually, giving you a good reminder to update your info each year.  (Compare that to advertising with Google Adwords every day for a year, and I think you’ll quickly see the value!)

*** Grab your listing now!  Each new listing will also be mentioned in both Facebook and Twitter posts. ***


Create your listing now. -->